footer {
  background: #353535;
  color: #fff;
  margin-top: 100px;
  padding: 40px 0;
}

footer ul {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

footer li {
  display: block;
  padding-left: 0;
  padding-right: 0;
}
