nav {
  border: 1px solid;
  border-width: 1px 0;
  margin: 20px 0;
  padding: 20px 0;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

nav a {
  text-decoration: none;
}
